useDynLib("Rgrib2")
exportPattern("^G")
export("grib_raw_split", "grib_raw_find", "find_in_raw")
importFrom("meteogrid", "as.geofield")
S3method(print, GRIBhandle)
S3method(print, GRIBlist)
S3method(Ginfo, GRIBhandle)
S3method(Ginfo, GRIBlist)
S3method(Ginfo, character)
